body{
    background-color: lightgrey;
}
.head{
    display:flex;
    align-items: center;
    gap:30px;
}
.logo::first-letter{
    color: blueviolet;
    font-size: 40px;
}
.logo{
    font-style: italic;
    font-variant: small-caps;
}
.claa{
    border: solid; 
    padding: 10px;
    margin-left:580px;
    border-radius: 8px; 
    color: darkorchid;
}
.claa:hover{
    border: double;
    border-width: 6px;

}
.cla:hover{
    text-decoration:underline;
}
.cla{
    font-size: 21px;
    color: black;
}
.clas{
    font-size: 18px;
    color: blue;
    margin-left: 30px;
    display:inline-flex;
    
}
p{
    font-size: 25px;
    margin-left: 18px;
    
}
.skill{
    font-size: 25px;
}
.log::first-letter{
    color:darkorchid;
    font-size: 30px;
    margin-left: 8px;

}
a{
    text-decoration: none;
}

.form{
    border: solid;
    margin: 30px 310px;
    padding: 40px 60px 40px 4px;
    justify-content: center;
    align-items: center;
}
.form:hover{
    border-style: double;
    border-color: black;
    border-width: 6px;

}

.form textarea{
    margin-left: 268px;
    padding: 25px;
    box-sizing: border-box;
    resize: vertical;
    resize:horizontal;
    line-height: 1.4;
    
}
.form textarea:hover{
    border: solid;
}
.form label{
    margin-left: 125px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.form input{
    padding:8px;
    margin-left: 8px;

}
.form input:hover{
    border: solid;
}

.social-links{
margin-left: 40px;

}

#about{
    background:linear-gradient(135deg,#ffffff 0%,#d1def4 50%,#00000010 100%);
}
.links{
    display: inline-flex;
}
.image{
    height: 50px;
    width: 50px;
    margin-left: 180px;
}
.ima{
    height: 40px;
    width: 40px;
    margin-left: 380px;
    border-radius: 10px;
}
.name{
    white-space: unset;
    display: inline-flex;
    color: darkorchid;
}
.names{
    margin-left: 60px;
    padding-left: 50px;
    font-variant: small-caps;
    font-size: 40px;
    word-spacing: 4px;
    letter-spacing: 2px;
}
.namess{
    color: rgba(0, 0, 0, 0.541);
    font-variant: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nam{
    display: inline-flex;
}
.maruthi{
    margin-top: 21px;
    display: flex;
    
}
.text{
    margin-top: 10px;
    line-height: 25px;
}
.glo{
    size-adjust: 10px;
    height: 10px;
    width: 10px;
    max-width: 100%;
    padding:15px 500px 0px 0px;
    flex: 0px 0px 350px;
}
.mail:hover{
    border: solid;
    border-width: 4px;
    border-radius: 6px;
    border-color: rgb(68, 67, 67);
    padding:4px;
    
}
.mail{
    color:black; 
    font-size: 21px;
}
.insta{
    margin-left: 40px;
}
.insta img{
    width: 25px;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 80px;
    margin-left: 40px;
    color: darkorchid;
    border-radius: 30px;
}
.glo img{
    width: auto;
    height: 450px;
    justify-content: center;
    padding: 0px 10px 40px;
    border-radius: 30px;


}
.just{
    border: solid; 
    padding: 10px;
    border-radius: 8px; 
    color: darkorchid;
    margin: 0px 10px 30px 100px ;
}
.just:hover{
    border-radius: 15px;
    color: blueviolet;
    border: double;
    border-width: 4px;

}
